[submodule "3rdparty/corrade"]
	path = 3rdparty/corrade
	url = https://github.com/mosra/corrade.git
[submodule "3rdparty/magnum"]
	path = 3rdparty/magnum
	url = https://github.com/mosra/magnum.git
[submodule "3rdparty/magnum-plugins"]
	path = 3rdparty/magnum-plugins
	url = https://github.com/mosra/magnum-plugins.git
[submodule "3rdparty/magnum-integration"]
	path = 3rdparty/magnum-integration
	url = https://github.com/mosra/magnum-integration.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "3rdparty/glslang"]
	path = 3rdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
	branch = master
